/* Base styles */
.description {
  font-size: 1.2rem;
}

.title {
  padding: 1rem 0;
  font-size: 4rem;
  font-family: 'Merriweather', sans-serif;
}

.publised{
  color: rgb(92, 91, 91);
  font-size: 1rem;
  margin-top: -1rem;
  width: 68vw;
  line-height: 1.7;
  text-align: justify;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  min-height: 100vh;
}

.nav {
  display: flex;
  flex-direction: column;
  list-style: none;
  justify-content: flex-start;
  align-items: flex-start;
}
.a {
  color: black;
  }

/* Media queries */
@media screen and (max-width: 768px) {
  .title {
    font-size: 3rem;
  }

  .container {
    padding: 1rem;
  }
  .publised{
  width: 90vw;
 }
}

@media screen and (max-width: 576px) {
  .title {
    font-size: 2rem;
  }

  .description {
    font-size: 1rem;
  }

  .container {
    height: auto;
  }
}