@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Merriweather&family=Poppins&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Merriweather', serif;
  /* width: 1100px; */
  margin: 0 auto;
  color: black;
  /* font-weight: bold; */
}

.container {
  margin: 10px;
  padding: 10px;
}


a {
  color: inherit;
  text-decoration: none;
}

.active {
  color: #777
}

h2 {
  /* font-size: 3rem; */
}

main, h3 {
  /* font-size: 1rem; */
  margin: 5px;
  -webkit-animation: scale-up-left .7s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: scale-up-left .7s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.title a {
  font-size: 2.5rem;
  cursor: pointer;
}

nav li, nav a, .title {
  font-family: 'Merriweather', sans-serif;
  margin: 5px 1px;
}

blockquote, p {
  line-height: 1.7;
  padding: 5px;
}

.title {
  padding: 10px;

}

.title-muted {
  color: #111111;
  font-size: 3rem;
  line-height: 2;
  font-family: 'Comforter Brush', cursive;
}

.title-muted a:hover {
  color: #C4AEAD;
}

ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  justify-content: flex-end;
}

li {
  margin: 10px 2px;
  padding: 0 5px;
}



.footer-index {
    position: absolute;
    bottom: 3rem;
    font-size: 1rem;
  }

@media (min-width: 601px) {
.footer {
  position: absolute;
  bottom: 3rem;
  font-size: 1rem;
  padding: 30px;
}
}

@media (max-width: 600px) {
  * {
    font-size: 1.3rem;
  }
  
.footer {
  position: absolute;
  /* bottom: 1rem; */
  font-size: .8rem;
  padding: 30px;
}

.footer-index {
    position: absolute;
    bottom: 3rem;
    font-size: .8rem;
  }

  .container {
    padding: 10px 30px;

  }

  ul {
    flex-direction: column;
    align-items: flex-start;
    margin: 20px;
  }

  .title {
    font-size: 3rem;
    margin: 30px;
    padding: 10px 50px;
  }

  .title, .title a {
    font-size: 3rem;
  }

  .title-muted {
    font-size: 2rem;
  }
}