/* Base styles */
.description {
  font-size: 1.2rem;
}

.title {
  padding: 1rem 0;
  font-size: 4rem;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  min-height: 100vh;
}

.nav {
  display: flex;
  flex-direction: column;
  list-style: none;
  justify-content: flex-start;
  align-items: flex-start;
}

/* Media queries */
@media screen and (max-width: 768px) {
  .title {
    font-size: 3rem;
  }

  .container {
    padding: 1rem;
  }
}

@media screen and (max-width: 576px) {
  .title {
    font-size: 2rem;
  }

  .description {
    font-size: 1rem;
  }

  .container {
    height: auto;
  }
}